#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background: var(--dark-color);
    font-family: var(--main-font);
}

#navBar .logo{
    color: var(--light-color);
    font-size:1.5rem;
}

#navBar .nav-list{
    display: flex;
    align-items: center;
}

#navBar .nav-list li{
    margin: 0 1rem;
}

#navBar .nav-list li:hover{
    text-decoration: underline;
}